[Unit]
Description=Drainer daemon
After=network-online.target
Wants=network-online.target

[Service]
User=tidb
Group=tidb
ExecStart=/usr/bin/drainer --config /etc/drainer/drainer.toml
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=on-failure
WorkingDirectory=/var/lib/drainer/

[Install]
WantedBy=multi-user.target

