[Unit]
Description=PD server daemon
Wants=network-online.target

[Service]
User=tidb
Group=tidb
ExecStart=/usr/bin/pd-server --config /etc/pd/config.toml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT
WorkingDirectory=/var/lib/pd/

[Install]
WantedBy=multi-user.target
