[Unit]
Description=TiDB server daemon
After=network-online.target
Wants=network-online.target

[Service]
User=tidb
Group=tidb
ExecStart=/usr/bin/tidb-server --config /etc/tidb/config.toml
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=on-failure
WorkingDirectory=/var/lib/tidb/

[Install]
WantedBy=multi-user.target
